* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.projects_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.projects_wrapper h1 {
  grid-column: 1 / span 3;
  margin: 10px auto;
  font-size: 4rem;
  text-align: center;
  border-left: 4px solid black;
  border-right: 4px solid black;
  padding: 0 10px;
  color: rgba(255, 68, 0, 0.802);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
